{% extends 'base/base.html' %}

{% block nav_items %}
{% endblock %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<section class="bg-primary" id="registro" xmlns="http://www.w3.org/1999/html">
      <div class="container">
            <div class="row">
                  <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Reservaciones - Crear</h2>
                    <hr class="light my-4">
                  </div>
            </div>
      </div>
</section>
</br>
<div class="row">
    <div id="div" class="col-md-2 col-md-offset-2">
    </div>
    <div class="col-md-8 col-md-offset-4">
        <div class="col-md-12 text-center">>
            <div>
                <input id="auto_complete" class="form-control" type="text" placeholder="Busca una direccion">
                <div align="center">Seleccione el punto de partida y origen</div>
                <div id="mapa_origen" class="capas" title="Seleccione el punto de partida" align="center"></div>
            </div>
        </div>
        </br>
        <form action='' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12 text-center">
                <input class="btn btn-light btn-xl js-scroll-trigger" type="submit" value="Guardar">
            </div>
        </form>
    </div>
</div>
</br>
{% endblock %}

{% block extraJs %}
<script src="{% static 'js/maps.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEgzOtWO4m4a6O2gK7flthH78YbyhPxNY&libraries=places&callback=initMap">
</script>
{% endblock %}