{% extends 'base/base.html' %}

{% block nav_items %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<section class="bg-primary" id="registro" xmlns="http://www.w3.org/1999/html">
      <div class="container">
            <div class="row">
                  <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Reservaciones - Cancelar</h2>
                    <hr class="light my-4">
                  </div>
            </div>
      </div>
</section>
</br>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
    </div>
    <div class="col-md-8 col-md-offset-4">
        <h2>Estas seguro de cancelar la reservacion {{nombre}}?</h2>
        <div class="row">
            <form action='' method="post">
                <div class="col-md-2 col-md-offset-2">
                </div>
                <div class="col-md-12 text-center">
                    {% csrf_token %}
                    <input class="btn btn-light btn-xl js-scroll-trigger" type="submit" value="Si">
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="javascript:history.back()">No</a>
                </div>
            </form>

        </div>
    </div>
</div>
</br>
{% endblock %}