{% extends 'base/base.html' %}

{% block nav_items %}
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/login">Logout</a>
    </li>
{% endblock %}

{% block content %}

<section class="bg-primary" id="registro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Bienvenido {{usuario.nick_name}}</h2>
        <hr class="light my-4">
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white" id="perfil">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Perfil</h2>
        <hr class="light my-4">
      </div>
    </div>
  </div>
</section>
</br>
<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <form>

                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Codigo Bancario</label> 
                                <div class="col-8">
                                  <input placeholder="{{usuario.cod_usuario}}" class="form-control" type="text" readonly>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Nombre</label> 
                                <div class="col-8">
                                  <input placeholder="{{usuario.full_name}}" class="form-control" type="text" readonly>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Nickname</label> 
                                <div class="col-8">
                                  <input placeholder="{{usuario.nick_name}}" class="form-control" type="text" readonly>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Corre Electronico</label> 
                                <div class="col-8">
                                  <input placeholder="{{usuario.correo}}" class="form-control" type="text" readonly>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Saldo</label> 
                                <div class="col-8">
                                  <input placeholder="{{usuario.monto}}" class="form-control" type="text" readonly>
                                </div>
                              </div>

                        </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>

{% comment %} <div class="row">
    <div class="col-md-2 col-md-offset-2">

    </div>
    <div class="col-md-8 col-md-offset-4 text-right" >
        <img src= "{{image}}"style="width:180px;height:200px;"/>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-2 col-md-offset-2">

    </div>
    <div class="col-md-8 col-md-offset-4">
        <form action='' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12 text-center">
                <input class="btn btn-light btn-xl js-scroll-trigger" type="submit" value="Guardar Cambios">
            </div>
        </form>
    </div>
</div> {% endcomment %}
</br>

{% comment %} <section class="bg-dark text-white" id="historial">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Historial</h2>
        <hr class="light my-4">
      </div>
    </div>
  </div>
</section>

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <hr class="light my-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Conductor</td>
                    <td>Hora</td>
                    <td>Fecha</td>
                    <td>Precio</td>
                    <td>Status</td>
                    <td>Metodo de pago</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for reservacion in reservaciones %}
                <tr>
                    <td>{{ reservacion.conductor }}</td>
                    <td>{{ reservacion.hora }}</td>
                    <td>{{ reservacion.fecha }}</td>
                    <td>{{ reservacion.precio }}</td>
                    <td>{{ reservacion.status }}</td>
                    <td>{{ reservacion.met_pago }}</td>
                    <td>
                        <a class="btn btn-danger" href="/user/{{id}}/reservaciones/eliminar/{{ reservacion.id }}/">Cancelar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</br>
<div class="col-lg-8 mx-auto text-center">
    <a class="btn btn-primary" href="/user/{{id}}/reservaciones/crear/1/">Crear Reservacion</a>
</div>{% endcomment %}
</br>
{% endblock %}