{% extends 'base/base.html' %}

{% block nav_items %}
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/credito">Credito</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/transferencia">Transferencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/login">Logout</a>
    </li>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<section class="bg-primary" id="registro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Tu codigo</h2>
        <hr class="light my-4">
      </div>
    </div>
  </div>
</section>

</br>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
    </div>
    <div class="col-md-8 col-md-offset-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>Tu codigo de usuario es: {{codigo}}</p>
                </br>
                <p>Y tu numero de cuenta es: {{cuenta}}</p>
                <div class="col-md-12 text-center">
                    <a href="/home" class="btn btn-light btn-xl js-scroll-trigger">Ir a home</a>
                </div>
                <footer class="blockquote-footer">Guarda es informacion en algun lugar seguro</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
</br>
{% endblock %}